/*BOTON TERMINAR COMPRA*/
.FinishCarButton button {
    border-radius: 20px;
    background-color: rgb(226, 202, 43);
    border: 0;
    font-size: 15px;
    margin: 10px;
    padding: 20px;
    transition: background-color 1s, color 1s;
}
.FinishCarButton button:hover {
    color: white;
    background-color: rgb(153, 43, 226);
}

