.CartWidget {
    width: 80px;
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;

    overflow: hidden;
}

.CarritoContainer {
    width: 10px;
    border-radius: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-self: center;
    align-self: center;
    transition: color 1s;
}
.CarritoContainer a:hover {
    color: blueviolet;
}

.Carrito {
    width: 30px;
}

.CarritoQuantity {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 25px;
    margin: 0 0 0 5px;
    display:flex;
    color: rgb(255, 255, 255);
    
}



