.CheckoutTitle {
    width: 80%;
    font-family: 'Arvo', sans-serif;
    margin: 40px 0 40px 0;
    
}


/*LOADING*/
.Loadings {
   text-align: center;
   width: 80%;
   font-family: 'Open Sans', sans-serif;
   margin: 40px 0 0 0;
   justify-self: center;
}

.OrderId {
   text-align: center;
   width: 80%;
   font-family: 'Open Sans', sans-serif;
   margin: 40px 0 0 0 0;
   justify-self: center;

}