.CheckoutPage {
   width: 80%;
}

.CheckoutTitle {
   color: white;
   font-family: 'Arvo', sans-serif;
   font-size: 30px;
   margin: 60px 0 40px 20px;
   font-weight: bold;
   text-align: center;
}


/*LOADING*/
.Loadings {
   text-align: center;
   width: 80%;
   font-family: 'Open Sans', sans-serif;
   margin: 40px 0 0 0;
   justify-self: center;
}

.OrderId {
   text-align: center;
   width: 80%;
   font-family: 'Open Sans', sans-serif;
   margin: 40px 0 0 0 0;
   justify-self: center;

}