.Headers {
  width: 100%;
  display: flex;
}

/* Fuentes de los Headers*/
.Headers h1 {
  color: white;
  display: flex;
  font-size: 60px;
  width: 100%;
  justify-content: center;
  margin: 0;

  font-family: 'Arvo', sans-serif;
}

/*HEADER INDEX*/
.Title {
    width: 100%;
    text-align: center;
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr; 
    
    background-image: linear-gradient(
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.4)),
          url(../../images/bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      min-height: 70vh;
      
  } 


/*HEADER PRODUCCION*/
.ProduccionHeader {
  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr; 

  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-prodcompleta.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 20vh;
    
  
} 

/*HEADER BEATS*/
.BeatsHeader {

  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;

  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-beats.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 20vh;

} 


/*HEADER GRABACION*/
.GrabacionHeader {

  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-grabacion.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 20vh;

} 



/*HEADER SONIDO*/
.SonidoHeader {

  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-sonido.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 20vh;

} 
