.Headers {
  width: 100%;
  display: flex;
}

/* Fuentes de los Headers*/
.Headers h1 {
  color: rgb(255, 173, 49);
  display: flex;
  font-size: 60px;
  width: 100%;
  justify-content: center;
  justify-self: center;
  align-self: end;
  margin: 0;

  font-family: 'Arvo', sans-serif;
}

.Headers p {
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  height: 80px;
  justify-content: center;
  justify-self: center;
  align-self: start;
  margin: 2px 0 0 0;
}

@media(max-width:380px) {
   .Headers h1 {
    font-size: 50px;
   }
   .Headers p {
    font-size: 14px;
   }
}

@media(max-width:1023px) {
  .Headers h1 {
   width: 80%;
  }
  .Headers p {
   width: 90%;
  }
}

/*HEADER INDEX*/
.Title {
    width: 100%;
    text-align: center;
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    
    background-image: linear-gradient(
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.4)),
          url(../../images/bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      min-height: 70vh;
      
} 

/*HEADER PRODUCCION*/
.ProduccionHeader {
  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 

  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-prodcompleta.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 40vh;
    
  
} 
@media(max-width:768px) {
  .ProduccionHeader {
    height: 550px;
    
  }
}

/*HEADER BEATS*/
.BeatsHeader {

  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-beats.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 40vh;

} 
@media(max-width:768px) {
  .BeatsHeader {
    height: 550px;
    
  }
}

/*HEADER GRABACION*/
.GrabacionHeader {

  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-grabacion.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 40vh;

} 
@media(max-width:768px) {
  .GrabacionHeader {
    height: 550px;
    
  }
}

/*HEADER SONIDO*/
.SonidoHeader {

  width: 100%;
  text-align: center;
  height: 200px;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.4)),
        url(../../images/header-sonido.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 40vh;

} 
@media(max-width:768px) {
  .SonidoHeader {
    height: 550px;
    
  }
}
