/*CONTENEDOR NAVBAR */
.Navbar{
    display:grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 6fr 4fr;

    justify-content: center;
    background-color: black;
    margin: 0;   
}
@media(max-width:768px) {
  .Navbar {
    height: 150px;
    grid-template-columns: 1fr 4fr 1fr;
  }
}
@media(max-width: 600px) {
  .Navbar {
    height: 200px;
    grid-template-columns: auto; /* Cambia a una sola columna en pantallas pequeñas */
    grid-template-rows: repeat(4, auto); /* Define las filas */
  }  
}
.Navbar div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
}


/*LOGO*/
.logoNavBar{
  width: 80px;
  border-radius: 30px;
  align-self: center;
}
.LogoLink {
  display: flex;
  justify-self: center;
  align-self: center;
}

/*CATEGORIA PRODUCTOS¨*/
.Categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    height: 50px;
    padding: 0;
    justify-self: center;
    align-self: center;
    height: 100%;
    margin: 0;
    
}  
.Categories a {
    padding: 10px;
    border-radius: 30px;
    height: 20px;
    margin: 0px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    text-align: left;

    text-decoration: none;
    color: white;
    transition: color 1s;
}
.Categories a:hover {
    color: rgb(255, 187, 0);
}  
@media(max-width:1000px) {
    .Categories {
      padding: 0;
    }  
}


/* Manejando los links de navbar de manera dinamica*/
.Option {
    display: flex;
    justify-content: center;
    align-items: center;
    animation:  color 1s;
}
.ActiveOption {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.Categories a:active {
    color: rgb(134, 134, 134);
}
  