
.Navbar{
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    margin: 0;   
}


.logoNavBar {
  width: 80px;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}

.Navbar h3 {
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 20px;
}
  
  .Categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  
  .Categories a {
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    color: white;
    font-size: 20px;

    text-decoration: none;
    color: white;
    transition: color 1s;
  }

  .Option {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Categories a:hover {
    color: rgb(255, 187, 0);
  }
  
  .Navbar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
  }

  @media(max-width:1000px) {
    .Categories {
      padding: 0;
    }  
  }



