/*CSS DEL LISTADO DE PRODUCTOS EN CART (CART PAGE)*/

.CarritoItems {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.CarritoItem {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.CarritoInfo {
    font-family: 'Open Sans', sans-serif;
    width: 33%;
    color: white;
    margin: 0px 0px 0px 20px
}

.CarroInfo2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/*BUTTON REMOVE ITEM DEL CART*/
.ButtonRemove {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    border-radius: 30px;
    color: white;
    background-color: rgb(44, 44, 44);
    border: 0;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    transition: background-color 1s, color 1s;
}
.ButtonRemove:hover {
    color: white;
    background-color: rgb(153, 43, 226);
}

@media (max-width:650px){
    .ButtonRemove {
        padding: 10px;
        font-size: 10px;
        font-weight: lighter;
    }

    .CarritoInfo {
        font-size: 13px;
    }
}