/*CONTENEDOR COUNTER*/
.Counter {
    display: grid; 
    width: 100%;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*COUNTER */
.Controls {
    display: flex;
    width: 50%;
    justify-content: center;
    justify-self: center;

}
.Controls .Number {
    color: white;
    display: flex;
    margin: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*BOTONES COUNTER*/
.Controls button {
    border-radius: 30px;
    color: white;
    background-color: rgb(44, 44, 44);
    border: 0;
    font-size: 15px;
    margin: 10px;
    padding: 20px;
    transition: background-color 1s, color 1s;
}
.Controls button:hover {
    color: white;
    background-color: rgb(153, 43, 226);
}

/*BOTON ADD*/
.AddButton button {
    border-radius: 20px;
    background-color: rgb(226, 202, 43);
    border: 0;
    font-size: 15px;
    margin: 10px;
    padding: 20px;
    transition: background-color 1s, color 1s;
}
button:hover {
    color: white;
    background-color: rgb(153, 43, 226);
}

